<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌲 感謝您的支持！您的PineCraft模板已準備就緒 🌲</title>
</head>
<body style="font-family: serif;">
    <div>Hi $username,</div><br />
    <div>🎉 感謝您的訂購！您的 Notion 旅程即將變得更有條理、更具美感！</div>
    <div style="background-color: rgb(241, 241, 241); padding: 20px; margin-top: 20px; margin-bottom: 20px;">
        <b>🔗您的專屬模板：</b><a href="$templateLink">$templateLink</a>
    </div>
    <div>
        PineCraft致力於打造「<b>使用者的Apple</b>」，透過完善的後端自動化程式與個人化設計，提供「美學、個性化、自造的樂趣」。<br />
        <div  style="background-color: rgb(241, 241, 241); padding: 20px; margin-top: 20px; margin-bottom: 20px;">
            <b>🤫偷偷告訴你一個內幕消息…</b><br /><br />
            PineCraft 正籌備一款全新的 Notion 系統——<b>LifeOS</b>，這是一個能夠連結「個人」與「團隊」，涵蓋學生生活的方方面面。有了它，從課業、活動、到社團，所有工作都將在Notion一站搞定！
        </div>
        更多相關資訊，將分享在我們的 <a href="https://www.instagram.com/pinecraft.notion/">Instagram</a> 與 <a href="https://www.facebook.com/profile.php?id=61562886333392">Facebook</a> 中！<br /><br />

        祝您有個美好的一天<br /><br />
        PineCraft CEO 張鈞傑 敬上
    </div>
</body>
</html>